.accounts-page-container {
    height: calc(100vh - 60px); /* Ensure container takes full height minus the header */
    display: flex;
    position: relative;
}

.left-content-container {
    width: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: flex-start; /* Align items to the top */
}

.right-content-container {
    flex-grow: 1; 
    padding: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
}

/* Search input styling */
.filtration-container > input {
    width: 150px;
    padding: 8px 6px;
}

/* Flex for filtration container */
.filtration-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Align input and button horizontally */
}

/* Sort button styling */
.sort-btn {
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 6px 12px; /* Slightly adjusted padding */
}

.sort-btn:hover {
    background-color: #2980b9;
}

.sort-btn:active {
    background-color: #1f5f8b;
    transform: scale(0.98);
}

/* Vertical divider between the sections */
.vertical-divider {
    width: 4px;
    background-color: #ccc;
    height: 100%; /* Full height of the container */
    align-self: stretch;
}

/* Style the hr element */
 hr {
    width: 100%; /* Make it span the full width of the container */
    border: 1px solid #ccc; /* Light gray border */
    margin: 15px 0; /* Adjust top and bottom margin for spacing */
}

.account-details {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.heading {
    font-weight: bold;
    font-size: 1.8rem;
}

.account-name-heading {
    font-weight: bold;
    text-align: center;
    font-size: 1.8rem;
}

.left-section {
    width: fit-content;
}

.left-section > svg {
    padding-top: 50px;
}






