/* .accounts-page-container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.vault-title {
  font-size: 36px;
  color: #2c3e50;
  margin-bottom: 40px;
}

.accounts-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.account-card {
  background-color: #ecf0f1;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  height: 160px;
}

.account-card-profile-image {
  height: 100px;
  width: 100px;
}

.username,
.email {
  font-size: 16px;
}

.field-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.editable-field {
  width: 70%;
  padding: 8px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  font-size: 14px;
}

.field-container > .input-field {
  cursor: pointer;
}

.username,
.email {
  font-size: 16px;
}

.edit-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #2980b9;
}

.password-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  font-size: 14px;
}

.visibility-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #2980b9;
  font-size: 20px;
}

.edit-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.save-btn,
.cancel-btn {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.save-btn {
  background-color: #27ae60;
  color: #fff;
}

.cancel-btn {
  background-color: #e74c3c;
  color: #fff;
}

.save-btn:hover {
  background-color: #2ecc71;
}

.cancel-btn:hover {
  background-color: #c0392b;
}

.editable-field:focus,
.password-input:focus {
  border-color: #3498db;
  outline: none;
}

.edit-btn:hover,
.visibility-btn:hover {
  color: #1abc9c;
} */
