.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-around; /* Center and add space around the items */
  background-color: #4079ff;
  height: 56px;
  font-family: 'Nunito', sans-serif;
  position: relative;
  z-index: 1100;
  padding: 0 20px; /* Add padding for spacing on mobile */
}

.nav-icon {
  font-size: 2.3rem;
}

.nav-text {
  font-size: 1.5rem;
  margin-top: 4px;
}

.nav-link-header {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: 450;
  gap: 8px;
}

.links {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-around; /* Space around the links */
  font-weight: 300;
}

.links > a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  margin: 0 15px;
  cursor: pointer;
}

.links > a:hover {
  color: #dbdbdb;
}

.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
}

@media (max-width: 600px) {
  
  .menu-icon {
    display: flex;
  }

  .links {
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100%;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 20px;
    padding-left: 20px;
    transition: right 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    z-index: 999;
  }

}

/* Responsive Styles for Mobile */
@media (max-width: 768px) {

  .navbar-container {
    justify-content: space-between;
  }

  .links.active {
    right: 0;
    opacity: 1;
  }

  .links {
    font-weight: 300;
  }

  .links > a {
    width: 100%;
    margin: 10px 0;
    padding: 10px 20px;
    color: #fff;
    text-align: left;
    transition: background-color 0.3s;
  }

  .links > a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
